/* Swaps the background only when Dark Mode is active */
.dark #intro .home-section-bg {
  background-image: url('https://sohanroy1360.github.io/sohanr.github.io/media/1556k_MUR48_Schlieren_negative.png') !important;
  /* Adds a dark overlay to ensure your white text is readable */
  background-blend-mode: multiply !important;
  background-color: #444 !important;
  filter: brightness(0.7) !important;
}
